{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <div class="fh5co-loader"></div>
    <div id="page">

        {% for banner in banners %}
            <header id="fh5co-header" class="fh5co-cover" role="banner"
                    style="background-image:url({{ banner.image.url }});"
                    data-stellar-background-ratio="0.5">

                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <h2><a href="http://freehtml5.co/"
                                           target="_blank">{{ banner.title }}</a></h2>
                                    <p><a href="https://vimeo.com/channels/staffpicks/93951774"
                                          class="btn btn-primary popup-vimeo">Watch Our Video</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endfor %}

        <div id="fh5co-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2>Gym gallery</h2>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                            provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-bottom-padded-md">
                    <div class="col-md-12">
                        <ul id="fh5co-portfolio-list">

                            {% for post in object_list %}

                                <li class="one-third animate-box" data-animate-effect="fadeIn"
                                    style="background-image: url({{ post.image.url }}); ">
                                    <a href="#">
                                        <div class="case-studies-summary">
                                            <span>{{ post.title }}</span>
                                            <h2>Useful baskets</h2>
                                        </div>
                                    </a>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-started" class="fh5co-bg" style="background-image: url({% static 'images/img_bg_3.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get <span
                                class="percent">35%</span> Discount</span></h2>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
{% endblock %}
